.metaItem {
  font-size: var(--font-size-small);
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #303031;
  margin-bottom: calc(var(--spacer) / 4);
}

.content {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: var(--clr-slate-70);
  word-wrap: break-word;
  white-space: normal;
}

.horizontal {
  display: flex;
  flex-direction: row;
  gap: var(--sp-2);
}
