.containerHistory {
  display: flex;
  flex-direction: row;
  gap: calc(var(--spacer) / 4);
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  width: 100%;
}

.totalContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  align-items: center;
  gap: 16px;
  width: 100%;
  flex-wrap: wrap;
}
