.results {
  border: 1px solid var(--ink-alpha-10);
  border-radius: 20px;
  padding: 20px;
  /* height: 165px; */
  box-shadow: 1px 4px 8px 0 var(--black-alpha-15);
  background: #fff;
  margin-top: 1.5rem;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  color: #303031;
  margin-bottom: 1rem;
}

.downloadButton {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #303031;
  margin-bottom: 0.5rem;
}

.alert {
  display: flex;
  flex-direction: row;
}
.rightAlert {
  margin-top: 1rem;
  width: 4px;
  background: #fdd655;
}

.help {
  width: 222px;
  height: 34px;
  margin-top: 1rem;
  background: var(--yellow-120);
  padding: 0.5rem 1rem;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: var(--black-1000);
}
