.loaderWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

button .loaderWrap {
  margin-top: 0;
  margin-bottom: 0;
}

.loader {
  display: block;
  flex: 0 0 var(--loader-ordering-spinner-width);
  width: var(--loader-ordering-spinner-width);
  height: var(--loader-ordering-spinner-height);
  border-radius: 50%;
  border: var(--loader-border-size) solid
    var(--loader-ordering-spinner-border-color);
  border-top: var(--loader-border-size) solid
    var(--loader-ordering-spinner-border-top-color);
  animation: loader 0.6s linear infinite;
}

.marginTop {
  margin-top: 1rem;
}

.message {
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-small);
  color: var(--loader-message-color);
  display: block;
  margin-left: calc(var(--spacer) / 4);
}

.loader.white {
  border-color: var(--white-alpha-60);
  border-top-color: #ffffff;
}

.loader.primary {
  border-color: var(--navy-alpha-30);
  border-top-color: var(--clr-navy);
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}
