.wrapper {
  padding-top: calc(var(--spacer) / 3);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  font-size: var(--font-size-small);
  margin-top: calc(var(--spacer) / 6);
}
