.langSelect {
  background: var(--background-body);
  border: var(--border-size-sm) solid var(--border-navy-soft);
  border-radius: var(--radius-xl);
  padding: var(--sp-10);
  margin: var(--spacer) auto;
  text-align: center;
}

.langLabel {
  font-size: var(--font-size-base);
  color: var(--font-color-heading);
  font-weight: var(--font-weight-bold);
}
