.wrapper {
  position: fixed;
  bottom: var(--spacer);
  left: var(--spacer);
  z-index: 10;
  width: calc(100vw - (var(--spacer) * 2));
  max-width: 42rem;
  max-height: calc(100vh - (var(--spacer) * 2));
  overflow-y: auto;
  border-radius: var(--radius-xl);
  box-shadow: 6px 0 17px var(--box-shadow-color);
  opacity: 1;
  transition: all 0.3s ease-out;
}

.banner {
  background: var(--background-body-transparent);
  backdrop-filter: blur(4px);
  padding: calc(var(--spacer) / 2);
}

.banner p {
  margin: 0;
  font-size: var(--font-size-small);
}

.banner a {
  color: var(--brand-blue);
  text-decoration: underline;
}

.header {
  font-size: var(--font-size-normal);
  font-weight: bold;
  margin-bottom: calc(var(--spacer) / 4);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--spacer) / 3);
  align-items: center;
  padding: calc(var(--spacer) / 3) 0 0;
}

.configureButton {
  display: none;
}

.optionals {
  margin-top: calc(var(--spacer) / 3);
  border-top: 1px solid var(--brand-grey-lighter);
}

.closeButton {
  display: block;
  margin-top: calc(var(--spacer) / 3);
}

/* Small Cookie Banner Styles */

.small .buttons {
  flex-direction: column;
  gap: calc(var(--spacer) / 6);
  padding: calc(var(--spacer) / 6);
}

.small .buttons button {
  width: 100%;
  justify-content: center;
}

.small .configureButton {
  display: block;
}

.small .optionals {
  display: none;
}

.small .closeButton {
  margin-top: calc(var(--spacer) / 4);
}

/* Hide and show the Cookie Banner */

.wrapper.hidden {
  left: -100vw;
  opacity: 0;
  box-shadow: none;
  pointer-events: none;
}

/* Adjust for larger screen sizes */

@media screen and (min-width: 38rem) {
  .small .container {
    display: flex;
  }
}
