.container {
  position: relative;
  border: 1px solid var(--border-navy-soft);
  border-radius: var(--radius-xl);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--sp-4);
}

.large {
  gap: var(--sp-8);
}

.publish {
  border: var(--border-size-sm) solid var(--border-navy-soft);
  border-radius: var(--radius-xl);
  padding: var(--form-container-padding-top-extended);
  gap: var(--sp-8);
}

.border {
  border: var(--border-size-sm) solid var(--border-navy-soft);
  border-radius: var(--radius-xl);
}

.label {
  position: absolute;
  top: -10px;
  left: 16px;
  background: var(--background-content);
  padding: 0 8px;
  font-family: var(--font-family-base);
  font-style: normal;
  font-weight: var(--text-weight-bold);
  font-size: var(--text-sm);
  line-height: var(--text-line-base);
  color: var(--clr-slate-70);
}

.required {
  color: var(--input-error-text-color);
  margin-left: 2px;
}

.content {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content > div {
  margin-bottom: 0 !important;
}

.default {
  padding: 0;
}

.borderNavy {
  border: 1px solid var(--clr-navy);
}
