.statusTag {
  display: inline-block;
}

.free {
  border: 1px solid #00adb2;
  border-radius: 20px;
  padding: 2px 8px;
  width: fit-content;
  height: fit-content;
  box-shadow: 1px 2px 8px 0 var(--black-alpha-15);
  background: var(--cyan-alpha-1);
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #00adb2;
}

.paid {
  border: 1px solid var(--green-700);
  border-radius: 20px;
  padding: 2px 8px;
  width: fit-content;
  height: fit-content;
  box-shadow: 1px 2px 8px 0 var(--black-alpha-15);
  background: var(--green-alpha-1);
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: var(--green-700);
}
