.coinSelect {
  composes: select from '../../@shared/FormInput/InputElement/index.module.css';
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-base);
  border: 1px solid var(--publish-primary);
  border-right: none;
  margin-right: -0.5rem;
  background-color: var(--background-highlight);
  width: auto;
  padding: 0 1.75rem 0 0.25rem;
  height: 41px;
  text-align: center;
  font-weight: var(--font-weight-bold);
  border-top-left-radius: var(--publish-border-radius);
  border-bottom-left-radius: var(--publish-border-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  /* custom arrow, without the divider line */
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--font-color-text) 50%
    ),
    linear-gradient(135deg, var(--font-color-text) 50%, transparent 50%);
  background-position: calc(100% - 14px) 1.2rem, calc(100% - 9px) 1.2rem, 100% 0;
}
