.card {
  width: 100%;
  padding: var(--sp-6);
  border: 1px solid var(--neutral-210);
  border-radius: 20px;
  box-shadow: 1px 4px 8px var(--black-alpha-15);
  background: var(--brand-white);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--sp-4);
}

.title {
  font: 600 1.125rem/1.3 Helvetica;
  color: var(--clr-slate-70);
  margin: 0;
}

.typeFormatRow {
  display: flex;
  align-items: flex-end;
  gap: var(--sp-2_5);
  margin-bottom: var(--sp-4);
}

.typeFormatInput {
  min-width: 200px;
  flex: 1;
}

.typeFormatRow .typeFormatInput select {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 6px 10px;
  gap: 10px;
  min-width: 190px;
  width: fit-content;
  height: fit-content;
  background: var(--surface-neutral);
  border: 1px solid var(--clr-navy);
  border-radius: var(--radius-xl);
  font-family: var(--font-family-base);
  font-style: normal;
  font-weight: var(--text-weight-regular);
  font-size: var(--text-sm);
  line-height: var(--text-line-base);
  color: var(--clr-navy);
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, var(--clr-navy) 50%),
    linear-gradient(135deg, var(--clr-navy) 50%, transparent 50%);
  background-position: calc(100% - 15px) calc(50% + 2px),
    calc(100% - 10px) calc(50% + 2px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  padding-right: 3rem;
}
