.grid {
  display: grid;
  gap: calc(var(--spacer) * 1.5);
  position: relative;
}

@media (min-width: 55rem) {
  .grid {
    /* lazy golden ratio */
    grid-template-columns: 1.618fr 1fr;
  }

  .sticky {
    position: sticky;
    top: var(--spacer);
  }
}

.tabs {
  margin-top: var(--spacer);
  background-color: var(--background-body);
  border: var(--publish-input-border-size) solid
    var(--publish-input-border-color);
  border-radius: var(--publish-input-border-radius);
  --history-tab-pill-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--publish-shadow);
}

.tabs ul[class*='tabList'] {
  background-color: var(--publish-white);
  border: 0;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

.tabs ul[class*='tabList'] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.tabs div[class*='tabListContainer'] {
  border-bottom: var(--publish-input-border-size) solid
    var(--publish-input-border-color);
}

.tabs div[class*='tabContent'] {
  border: 0;
  background-color: var(--publish-white);
  padding-bottom: 0;
}

.tabs [class*='tab'][aria-selected='true'] {
  background: var(--publish-primary-gradient);
  color: var(--publish-white);
  border-color: var(--publish-input-border-color);
}

.tabs [class*='tab'][aria-selected='true']:focus,
.tabs [class*='tab'][aria-selected='true']:focus-visible {
  outline: none;
  box-shadow: none;
  border-color: var(--publish-input-border-color);
}

.tabs [class*='tab']:first-child {
  border-top-left-radius: var(--history-tab-pill-radius);
  border-bottom-left-radius: var(--history-tab-pill-radius);
}

.tabs [class*='tab']:last-child {
  border-top-right-radius: var(--history-tab-pill-radius);
  border-bottom-right-radius: var(--history-tab-pill-radius);
}

.tabs div[class*='tab-panel--selected'] {
  margin-bottom: var(--spacer);
}

@media screen and (min-width: 1500px) {
  .tabs div[class*='tabContent'] {
    width: 100%;
  }
  .tabs ul[class*='tabList'] {
    width: 100%;
  }
}
