.grid {
  display: grid;
  gap: calc(var(--spacer) * 1.5);
  position: relative;
}

@media (min-width: 55rem) {
  .grid {
    /* lazy golden ratio */
    grid-template-columns: 1.618fr 1fr;
  }

  .sticky {
    position: sticky;
    top: var(--spacer);
  }
}

.tabs {
  margin-top: var(--spacer);
  background-color: var(--background-body);
  border: var(--border-size-sm) solid var(--border-navy-soft);
  border-radius: var(--radius-xl);
  --history-tab-pill-radius: 20px;
  overflow: hidden;
  box-shadow: var(--shadow-md);
}

.tabs ul[class*='tabList'] {
  background-color: var(--brand-white);
  border: 0;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

.tabs ul[class*='tabList'],
.tabs div[class*='tabListContainer'] {
  border-radius: 0;
}

.tabs div[class*='tabListContainer'] {
  border-bottom: var(--border-size-sm) solid var(--border-navy-soft);
}

.tabs div[class*='tabContent'] {
  border: 0;
  background-color: var(--brand-white);
  padding-bottom: 0;
}

.tabs [class*='tab'][aria-selected='true'] {
  background: var(--gradient-primary);
  color: var(--brand-white);
  border-color: var(--border-navy-soft);
}

.tabs [class*='tab'][aria-selected='true']:focus,
.tabs [class*='tab'][aria-selected='true']:focus-visible {
  outline: none;
  box-shadow: none;
  border-color: var(--border-navy-soft);
}

.tabs li[class*='Tabs_tab']:first-child {
  border-top-left-radius: var(--history-tab-pill-radius);
  border-bottom-left-radius: var(--history-tab-pill-radius);
}

.tabs li[class*='Tabs_tab']:last-child {
  border-top-right-radius: var(--history-tab-pill-radius);
  border-bottom-right-radius: var(--history-tab-pill-radius);
}

.tabs div[class*='tab-panel--selected'] {
  margin-bottom: var(--spacer);
}

@media screen and (min-width: 1500px) {
  .tabs div[class*='tabContent'] {
    width: 100%;
  }
  .tabs ul[class*='tabList'] {
    width: 100%;
  }
}
