.modal {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 350px;
}

.modal label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.9rem;
  color: black;
  font-weight: bold;
}

.modal input {
  width: 100%;
}

.input {
  composes: input from '../../@shared/FormInput/InputElement/index.module.css';
}

.noHover {
  pointer-events: none;
}
