.container {
  display: flex;
  flex-direction: column;
  gap: var(--sp-4);
}

.assetCard {
  width: 100%;
}

.deleteButtonContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: var(--sp-2);
}

.createButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: var(--sp-2);
}

.title {
  font-size: var(--text-lg);
  line-height: var(--text-line-base);
  color: var(--clr-slate-70);
  font-weight: 700;
  margin: 0;
}
