.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: var(--sp-10);
}

.actions a,
.actions button {
  margin: 0 calc(var(--spacer) / 2);
  min-height: 40px;
  font-family: var(--font-family-base);
  font-weight: var(--text-weight-bold);
  border-radius: var(--radius-xl);
}

.actions a {
  padding: calc(var(--spacer) / 3);
  font-weight: var(--text-weight-bold);
  text-transform: uppercase;
  transition: 0.2s ease-out;
  color: var(--clr-slate-70);
  text-decoration: none;
}

.actions a:hover {
  transform: translate3d(0, -0.05rem, 0);
  text-decoration: none;
  color: var(--clr-navy);
}
