.paginationWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacer) / 8);
  margin-top: var(--spacer);
}

.pagination {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-left: 0;
  font-size: var(--font-size-small);
  margin-top: 0;
}

.number {
  font-weight: var(--font-weight-bold);
  padding: calc(var(--spacer) / 4) calc(var(--spacer) / 2);
  margin-left: -1px;
  margin-top: -1px;
  cursor: pointer;
  min-width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--pagination-font-color);
  border-radius: var(--radius-xl);
}

.control {
  composes: number;
  border: none;
  background: transparent;
  font-size: calc(var(--font-size-base) * 1.1);
  font-weight: var(--text-weight-bold);
  min-width: 3.5rem;
  padding: calc(var(--spacer) / 3) calc(var(--spacer) / 1.8);
}

.control:disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.7;
}

li:first-child .number,
:global(li.selected):nth-child(2) .number {
  border-top-left-radius: var(--radius-xl);
  border-bottom-left-radius: var(--radius-xl);
}

li:last-child .number {
  border-top-right-radius: var(--radius-xl);
  border-bottom-right-radius: var(--radius-xl);
}

.number,
.number:hover,
.number:focus,
.number:active {
  transform: none;
  outline: 0;
  border-radius: var(--radius-xl);
}

.number:hover {
  color: var(--pagination-hover-font-color);
}

.current,
.break {
  composes: number;
}

.current {
  cursor: default;
  pointer-events: none;
}

:global(li.selected) .number {
  background: var(--gradient-primary);
  color: var(--brand-white);
  box-shadow: var(--shadow-sm);
}

.current,
.current:hover,
.current:focus,
.current:active {
  background: var(--gradient-primary);
  color: var(--brand-white);
  box-shadow: var(--shadow-sm);
}

.current,
:global(li.selected) .number {
  border-radius: var(--radius-xl);
}

.hiddenControl {
  display: none;
}

@media screen and (max-width: 37.5rem) {
  .paginationWrapper {
    gap: calc(var(--spacer) / 10);
  }

  .number {
    min-width: 2.35rem;
    padding: calc(var(--spacer) / 5) calc(var(--spacer) / 4);
  }

  .control {
    min-width: 2.35rem;
    padding: calc(var(--spacer) / 5) calc(var(--spacer) / 4);
    font-size: var(--font-size-base);
  }
}
