.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  font-size: var(--font-size-small);

  margin-top: var(--spacer);
}

.number {
  font-weight: var(--font-weight-bold);
  padding: calc(var(--spacer) / 4) calc(var(--spacer) / 2);
  margin-left: -1px;
  margin-top: -1px;
  display: block;
  cursor: pointer;
  min-width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--pagination-font-color);
  border-radius: var(--radius-xl);
}

li:first-child .number,
:global(li.selected):nth-child(2) .number {
  border-top-left-radius: var(--radius-xl);
  border-bottom-left-radius: var(--radius-xl);
}

li:last-child .number {
  border-top-right-radius: var(--radius-xl);
  border-bottom-right-radius: var(--radius-xl);
}

.number,
.number:hover,
.number:focus,
.number:active {
  transform: none;
  outline: 0;
  border-radius: var(--radius-xl);
}

.number:hover {
  color: var(--pagination-hover-font-color);
}

.current,
.prev,
.next,
.break {
  composes: number;
}

.current {
  cursor: default;
  pointer-events: none;
}

:global(li.selected) .number {
  background: var(--gradient-primary);
  color: var(--brand-white);
  box-shadow: var(--shadow-sm);
}

.current,
.current:hover,
.current:focus,
.current:active {
  background: var(--gradient-primary);
  color: var(--brand-white);
  box-shadow: var(--shadow-sm);
}

.current,
:global(li.selected) .number {
  border-radius: var(--radius-xl);
}

.next {
  text-align: right;
}

.prevNextDisabled {
  opacity: 0;
}

.arrow {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}

.arrow.previous {
  transform: rotate(180deg);
}
