.content {
  display: grid;
  gap: calc(var(--spacer) / 2);
}

.fieldGroup {
  display: grid;
  gap: calc(var(--spacer) / 6);
}

.label {
  font-size: var(--font-size-small);
  color: var(--font-color-light);
}

.value {
  font-weight: var(--font-weight-bold);
  color: var(--font-color-heading);
}

.availableRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputRow {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: calc(var(--spacer) / 4);
  align-items: center;
}

.input {
  composes: input from '@shared/FormInput/InputElement/index.module.css';
}

.select {
  composes: select from '@shared/FormInput/InputElement/index.module.css';
}

.maxButton {
  min-width: 72px;
}

.error {
  color: var(--input-error-text-color);
  font-size: var(--font-size-small);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: calc(var(--spacer) / 4);
  margin-top: calc(var(--spacer) / 4);
}
