.actions {
  /* margin-top: calc(var(--spacer) / 2); */
}

.noMargin {
  margin-top: 0;
}

.actionsCenter {
  margin: auto;
  display: block;
}

.help {
  font-size: var(--font-size-mini);
  margin-top: calc(var(--spacer) / 3);
}

.help:not(:empty) {
  margin-top: calc(var(--spacer) / 2);
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

body .freeAssetButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  width: fit-content;
  padding: 6px 12px;
}

.loaderWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  width: fit-content;
  padding: 6px 12px;
  border-radius: var(--radius-xl);
  box-shadow: 1px 2px 8px 0 var(--black-alpha-15);
  background: var(--white-alpha-20);
}
