.policyAutocomplete {
  margin-bottom: calc(var(--spacer) / 1.5);
}

.deleteButton {
  margin-top: -45px;
  margin-bottom: 20px;
}

.panel {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.newButton {
  margin-bottom: 10px;
}
