.network {
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  cursor: default;
  font-weight: 700;
  font-size: 16px;
  color: var(--publish-text-secondary);
  max-width: 100%;
  min-width: 0;
}

.network > svg,
.network > :first-child {
  flex-shrink: 0;
}

.network .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  flex-shrink: 1;
  max-width: 100%;
}

.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  fill: currentColor;
  margin-right: calc(var(--spacer) / 8);
  flex-shrink: 0;
}

.minimal {
  position: relative;
}

.minimal .name {
  opacity: 0;
  width: 0;
}

.minimal:hover .name {
  width: auto;
  opacity: 1;
}

@media screen and (min-width: 47rem) {
  .minimal .name,
  .minimal:hover .name {
    width: auto;
    opacity: 1;
  }
}
@media screen and (min-width: 1500px) {
  .minimal .name,
  .minimal:hover .name {
    width: auto;
    opacity: 1;
  }
}
