@import url('./_colors.css');
@import url('../../public/static/fonts/fonts.css');

:root {
  /* Menubar */
  --menu-logo-size-width-sm: 7.5rem;
  --menu-logo-size-height-sm: 3.5rem;
  --menu-logo-size-width-lg: 16.5rem;
  --menu-logo-size-height-lg: 5.5rem;
  --menu-mobile-navigation-border-size: var(--border-size-sm);
  --menu-border-radius: var(--border-radius-sm);
  --menu-border-size: var(--border-size);
  --menu-link-font-size: var(--font-size-base);
  --menu-link-font-weight: var(--font-weight-bold);
  --menu-caret-size: var(--font-size-small);

  /* Footer */

  /* Homepage */
  --home-brand-logo-size-width: 22rem;
  --home-brand-logo-size-height: 4rem;

  /* Input elements */
  --input-border-size: var(--border-size-sm);
  --input-border-radius: var(--border-radius);
  --input-selected-border-size: var(--border-size);

  /* Buttons */
  --button-border-radius: var(--border-radius);

  /* Loading spinner */
  --loader-border-size: var(--border-size);
  --loader-ordering-spinner-width: 18px;
  --loader-ordering-spinner-height: 18px;

  /* Box template */
  --box-template-border-radius: var(--border-radius);
  --box-template-border-size: var(--border-size-sm);
  --box-template-box-shadow: 0 6px 17px 0 var(--box-shadow-color);
  --box-template-hover-box-shadow: 0 10px 25px 0 var(--box-shadow-color);

  /* Asset teaser */
  --teaser-border-radius: var(--border-radius);
  --teaser-border-size: var(--border-size-sm);
  --teaser-box-shadow: 0 6px 17px 0 var(--box-shadow-color);
  --teaser-hover-box-shadow: 0 10px 25px 0 var(--box-shadow-color);

  /* Pagination component */
  /* Filter and sort */

  --font-family-base: 'Helvetica', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif;
  --font-family-heading: 'Sharp sans', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Helvetica, Arial, sans-serif;
  --font-family-monospace: 'Fira Code', 'Fira Mono', Menlo, Monaco, Consolas,
    'Courier New', monospace;

  --font-size-root: 15px;
  --font-size-base: 1rem;
  --font-size-large: 1.2rem;
  --font-size-small: 0.85rem;
  --font-size-mini: 0.65rem;
  --font-size-label: 14px;
  --font-size-h1: 3rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 1.7rem;
  --font-size-h4: 1.3rem;
  --font-size-h5: clamp(1.1rem, 2vw, 1.3rem);
  --font-weight-base: 500;
  --font-weight-bold: 600;
  --line-height: 1.6;

  --spacer: 2rem;
  --border-radius-sm: 2px;
  --border-radius: 0.2rem;
  --border-size-sm: 1px;
  --border-size: 2px;

  /* Spacing */
  --radius-xl: 20px;
  --radius-compact: 2px;
  --radius-full: 19px; /* For circular elements */
  --sp-10: 40px;
  --sp-8_5: 34px;
  --sp-8: 32px;
  --sp-7_5: 30px;
  --sp-6_5: 26px;
  --sp-6: 24px;
  --sp-5_5: 22px;
  --sp-5: 20px;
  --sp-4_5: 18px;
  --sp-4: 16px;
  --sp-3_5: 14px;
  --sp-2_5: 10px;
  --sp-2: 8px;
  --sp-1_5: 6px;
  --sp-1: 4px;
  --sp-0_5: 2px;
  --sp-0_25: 1px;
  --shadow-sm: 1px 2px 8px rgba(0, 0, 0, 0.15);
  --shadow-md: 1px 4px 8px rgba(0, 0, 0, 0.15);
  --shadow-lg: -2px 0px 8px rgba(0, 0, 0, 0.15);

  --break-point--small: 640px;
  --break-point--huge: 1400px;

  /* App design system tokens */
  --container-width: 1160px;

  /* Typography */
  --text-xs: 10px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xxl: 22px;
  --text-xl: 24px;
  --text-weight-regular: 400;
  --text-weight-bold: 700;
  --text-line-sm: 11px;
  --text-line-base: 16px;
  --text-line-lg: 18px;
  --text-line-xl: 21px;
  --text-line-2xl: 26px;
  --text-line-3xl: 28px;

  /* Spacing */
  --space-4xl: 100px;

  /* Form Elements */
  --field-height: 40px;
  --field-padding: 15px 25px;
  --field-padding-compact: 12px 30px;
  --form-container-padding-top-extended: 50px 40px 40px 40px;
}
