.section {
  margin-top: calc(var(--spacer) * 2);
  display: flex;
  flex-direction: column;
  gap: var(--sp-5);
}

.section > h3 {
  font-size: var(--text-xxl);
  color: var(--text-ink);
  margin: 0;
}

@media screen and (min-width: 1500px) {
  .section {
    width: 1420px;
  }
}
