.ssiKey {
  margin-bottom: -2em;
}

.inputLine {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
}

.newDdoBtn {
  margin-bottom: 1em;
}

.ddoFieldColumn {
  width: 100%;
}

.deleteBtnColumn {
  height: fit-content;
  margin-top: 26px;
  width: auto;
}
