.radioWrap {
  position: relative;
}

body .radioWrap > label {
  font-size: var(--text-sm);
}

.radioLabel {
  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: var(--black-alpha-85);
}

/* RADIO BUTTON SPECIFIC STYLES */
.radio {
  composes: input from '../index.module.css';
  position: relative;
  padding: 0;
  width: 16px;
  height: 16px;
  min-height: 0;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #fdd655;
  background: white;
  border-radius: 50%;
}

.radio:focus {
  box-shadow: 0 0 0 2px var(--yellow-alpha-30);
}

.radio::after {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fdd655;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s;
}

.radio:checked {
  border-color: #fdd655;
  background: white;
}

.radio:checked::after {
  opacity: 1;
}

/* CHECKBOX STYLES (remain unchanged) */
.checkbox {
  composes: input from '../index.module.css';
  position: relative;
  padding: 0;
  width: 18px;
  height: 18px;
  min-height: 0;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}

.checkbox {
  border-radius: 2px;
}

.radio:focus,
.checkbox:focus {
  box-shadow: 0 0 0 var(--input-selected-background);
}

.checkbox::after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.2s;
}

.checkbox::after {
  width: 6px;
  height: 9px;
  border: 2px solid var(--input-background);
  border-top: 0;
  border-left: 0;
  left: 5px;
  top: 2px;
  transform: rotate(40deg);
}

.checkbox:checked {
  border-color: var(--input-selected-background);
  background: var(--input-selected-background);
}

.checkbox:checked::after {
  opacity: 1;
}

body .publishRadio {
  border: 1px solid var(--clr-navy) !important;
  border-radius: var(--radius-xl);
  background-color: var(--brand-white);
}

.publishRadio:checked {
  border-color: var(--brand-white);
  background: var(--brand-white);
}

.publishRadio:checked::after {
  background: var(--clr-navy);
  width: 10px;
  height: 10px;
}
